body{
    padding: 0;
    margin: 0;
}
.authentication{
    max-width:700px;
}

/*--------------------------------------------------------------
# map ejs 
--------------------------------------------------------------*/

.mapCenter{
  display: flex;
  flex-direction: row;
  /* overflow-y: scroll; */
}

#map {
  /* position: fixed; */
  width: 50% !important;
  height: 100vh !important;

  /* position: absolute;
  top: 0;
  bottom: 0;
  width: 50%; */
}
.dataCenter{
  overflow-y: scroll;
  height: 100vh;
  /* height: auto; */
  width: 50%;
}

@media (max-width: 600px) { 
  .mapCenter{
    flex-direction: column;
  }
  #map {
    width: 100% !important;
    height: 50vh !important;
  }
  .dataCenter{
    height: auto;
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    background: #f1f7fd;
    padding: 70px 0 60px;
}
.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
}
.icon_box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.counts .count-box i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background: #5464EA;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}
.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #183153;
}
.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: roboto;
    font-size: 14px;
}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/

.heading{
    font-family: roboto;
    font-weight: 600;
    color: #183153;
}
.search_box{
    display:flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}
.search{
    height: 60px;
    width: 60%;
    border: 1px solid #eee;
    padding: 0;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 12px;
    margin-right: 50px;
}
.icon_box{
    width: 60px;
    height: 60px;
    background:#5464EA;
    border-radius: 50px;
}
.icon_box i {
    /* transform: translateX(-50%); */
    font-size: 20px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}
 
@media (max-width: 600px) {
.search_box{
    margin-top: -10px;
    display: block;
}
.search{
    width: 80%;
    margin: 0px 0 17px 0;
}
}


/*--------------------------------------------------------------
# Wave Animation
--------------------------------------------------------------*/

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.header {
  z-index: -1;
  width: 100%;
  text-align:center;
  color:white;
}
.waves {
  position:relative;
  width: 100%;
  height:12vh;
  min-height:100px;
  max-height:150px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/* /Shrinking for mobile/ */
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}